doc/static/UserManualFigure1.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure2.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure3.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure4.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure5.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure6.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure7.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure8.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure9.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure10.png filter=lfs diff=lfs merge=lfs -text
doc/static/UserManualFigure11.png filter=lfs diff=lfs merge=lfs -text
doc/static/icon-128.png filter=lfs diff=lfs merge=lfs -text
doc/static/icon-256.png filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
paper/figures/** filter=lfs diff=lfs merge=lfs -text
tests/data/** filter=lfs diff=lfs merge=lfs -text
paper/paper.pdf filter=lfs diff=lfs merge=lfs -text
