# Ignore the .idea directory
.idea/
docs/
dist/
src/cellects/build/
src/cellects/dist/
src/cellects/test/experiment/Data to run Cellects quickly.pkl
src/cellects/config/all_vars.pkl
src/cellects/paper_illustrations/
create_dmg.sh
README_DEV_CHEATSHEET.md
setup.py
requirements.txt