# Ignore the .idea directory
.tool-versions
.idea/
data/single_experiment/ind*
data/multiple_experiments/f1/ind*
data/single_experiment/cellects_data.h5
data/single_experiment/cellects_settings.json
data/single_experiment/Analysis efficiency, last image.JPG
data/single_experiment/Analysis efficiency, 3th image.JPG
data/single_experiment/one_row_per_arena.csv
data/single_experiment/one_row_per_frame.csv
data/single_experiment/one_row_per_oscillating_cluster.csv
src/cellects/config/cellects_settings.json
src/cellects/config/masks.h5
src/cellects/analyses/
src/cellects/paper_illustrations/
src/cellects/__main__.spec
setup.py
requirements.txt

# macOS
.DS_Store

# Python bytecode
**/__pycache__/
*.py[cod]

# eggs
cellects.egg-info/

# output data
data/output/*

# coverage
.coverage
.coverage*
htmlcov/

# build
build/
src/cellects/build/
src/cellects/dist/
dist/

# pip env
cellects_env/