name: _build_and_test

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: true
      py_build:
        type: string
        default: "3.12"
      py_test:
        type: string
        default: '["3.12","3.13"]'
    outputs:
      dist:
        value: dist

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.py_build }}
          cache: pip
      - run: |
          python -m pip install -U pip build twine
          python -m build
          twine check dist/*
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*

  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        python: ${{ fromJson(inputs.py_test) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: pip
      - run: |
          python -m pip install -U pip
          pip install -e ".[test]"
      - run: pytest