name: ci

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.repository }}-pipeline
  cancel-in-progress: false

jobs:
  qa:
    uses: ./.github/workflows/_build_and_test.yml
    with:
      ref: ${{ github.sha }}
      py_build: "3.12"
      py_test: '["3.12","3.13"]'